.idea/
venv/
*.pyc
Chapter-*-code/autotest/apiautotest/static/
Chapter-*-code/locallibrary/catalog/static/
Chapter-*-code/vue-admin/dist
Chapter-*-code/vue-admin/node_modules
.vscode/settings.json
test.py
python-dev.code-workspace
./*/venv
*.log
test
