{% extends "base.html" %} {% block content %} {% if objects %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">项目</a>
    </li>
    <li class="breadcrumb-item active">项目列表</li>
</ol>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8">
                        <button onclick="location.href='{% url 'project_create' %}'" type="button" class="btn btn-primary btn-xs">新建项目</button>
                    </div>
                    <div class="col-sm-4">
                        <form action={% url "project_search" %}>
                        <input name="search" type="search" placeholder="">
                        <button type="sumbit" class="btn btn-danger" > 搜索</button>
                        <form>
				    </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table">
                    <table class="table  table-sm   table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>项目名称</th>
                                <th>描述</th>
                                <th>创建时间</th>
                                <th>最近修改时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in objects %}
                            <tr>
                                <td>{{object.name}}</td>
                                <td>{{object.description}}</td>
                                <td>{{object.LastUpdateTime}}</td>
                                <td>{{object.createTime }}</td>
                                <td>
                                    <a class="playitbtn tryitbtnsyntax" href={% url "project_detail" object.id %}> 详情</a>
                                    <a class="playitbtn tryitbtnsyntax" href={% url "project_edit" object.id %}>编辑</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                            <span class="step-links">
                                {% if objects.has_previous %}
                                   
                                    <a href="?page={{ object.previous_page_number }}">上一页</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
                                </span>
                        
                                {% if objects.has_next %}
                                    <a href="?page={{ objects.next_page_number }}">下一页</a>
                                    
                                {% endif %}
                            </span>
                        </div>
                </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- /.container-fluid -->
<script>
/*function search(){
    var name = $("#search").val()
    $.get('{% url "project_search"  %}' + "?name=" + name);
}
</script>
{% else %}
<p>There are no projects.</p>
{% endif %} {% endblock %}