{% extends "project/project_base.html" %} {% block project %}
<p></p>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">api接口</a>
                </li>

                <li class="breadcrumb-item active">接口列表</li>

            </ol>
            <div class="panel-heading">
                    <p>
                        <button onclick="location.href='{% url 'httpapi_create' project.id %}'" type="button" class="btn btn-primary btn-xs">新建接口</button>
                    </p>
                </div>
            <div class="panel-body">
                <div class="table">
                    <table class="table  table-sm   table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>接口名称</th>
                                <th>接口url</th>
                                <th>请求方式</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in objects %}
                            <tr>
                                <td>{{object.name}}</td>
                                <td>{{object.apiurl}}</td>
                                <td>{{object.requestType}}</td>
                                <td>{{object.lastUpdateTime }}</td>
                                <td>
                                    <a class="playitbtn tryitbtnsyntax" href={% url "httpapi_edit" project.id object.id %}>编辑</a>
                                    <a class="playitbtn tryitbtnsyntax" href={% url "httpapi_run" project.id object.id %}>运行</a>
                                    <a class="playitbtn tryitbtnsyntax" href={% url "httpapi_result" project.id object.id %}>结果</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                            <span class="step-links">
                                {% if objects.has_previous %}
                                   
                                    <a href="?page={{ object.previous_page_number }}">上一页</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
                                </span>
                        
                                {% if objects.has_next %}
                                    <a href="?page={{ objects.next_page_number }}">下一页</a>
                                    
                                {% endif %}
                            </span>
                        </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {% endblock %}