{% extends 'navigation/base.html' %}
{% load staticfiles %}
{% block body_block %}
  <h1>注册</h1>
  {% if registered %}
  <strong>感谢注册</strong>
  <a href="{% url 'index' %}">返回首页</a><br />
  {% else %}
  <strong>在此注册！</strong><br />
  <form id="user_form" method="post" action="{% url 'register' %}"
       enctype="multipart/form-data">

    {% csrf_token %}

    <!-- 显示每个表单 -->
    <!--
    {{ user_form.as_p }}
    {{ profile_form.as_p }}-->
    <p><label for="id_username">用户名:</label> {{ user_form.username }}</p>
    <p><label for="id_email">邮箱地址:</label> {{ user_form.email }} </p>
    <p><label for="id_password">密码:</label> {{ user_form.password}} </p>
    <p><label for="id_website">个人网站:</label> {{ profile_form.website }} </p>
    <p><label for="id_picture">头像:</label> {{profile_form.picture}} </p>

    <!-- 提供一个按钮，点击后提交表单 -->
     <input type="submit" name="submit" value="Register" />
    </form>
  {% endif %}
{% endblock %}