{% extends "base.html" %}
{% block content %} 
<nav class="navbar navbar-expand  bg-light text-white static-top">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href={% url "project_detail" project.id %}>项目概况</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url "httpapi_list" project.id %}>api接口</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">测试报告</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
</nav>
{% block project %}

{% endblock %}

{% endblock %}
