<!DOCTYPE html>
{% load staticfiles %} 
<html>
  <head>
    <title>navigation</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <!-- JavaScript -->
    <script src="{% static "js/jquery.js" %}"></script>
  </head>
  <body>
    <h1>django说...</h1>
    <div>
       大家好! <br />
       <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
      <a href="/navigation/about/">关于</a><br />
      <img src="{% static "images/django.jpg" %}"
           alt="Picture of django" /> 
    </div>
  </body>
</html>